USE [sample1]
GO
/****** Object:  Table [dbo].[tbl_customer]    Script Date: 18-04-2026 11:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_customer](
	[customer_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_name] [varchar](250) NOT NULL,
	[customer_address] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[customer_name] ASC,
	[customer_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_HSCIN]    Script Date: 18-04-2026 11:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HSCIN](
	[hscin_id] [bigint] NOT NULL,
	[gst_rate] [decimal](10, 2) NULL,
 CONSTRAINT [PK__tbl_HSCI__E8B483672F7A6196] PRIMARY KEY CLUSTERED 
(
	[hscin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_nonSavedCustomer]    Script Date: 18-04-2026 11:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_nonSavedCustomer](
	[sales_id] [bigint] NOT NULL,
	[customer_name] [varchar](250) NULL,
	[customer_address] [varchar](250) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_orders]    Script Date: 18-04-2026 11:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_orders](
	[sales_id] [bigint] NOT NULL,
	[product_id] [int] NOT NULL,
	[hscin_id] [int] NULL,
	[gst_slab] [decimal](10, 2) NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[taxable_amt] [decimal](10, 2) NULL,
	[cgst] [decimal](10, 2) NULL,
	[sgst] [decimal](10, 2) NULL,
	[amount] [decimal](10, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_payments]    Script Date: 18-04-2026 11:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_payments](
	[sales_id] [bigint] NOT NULL,
	[customer_id] [bigint] NULL,
	[amount_paid] [decimal](10, 2) NULL,
	[date_of_payment] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_product]    Script Date: 18-04-2026 11:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](250) NOT NULL,
	[brand] [varchar](250) NULL,
	[hscin_no] [int] NULL,
	[available_stock] [int] NULL,
	[price] [decimal](10, 5) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_purchase]    Script Date: 18-04-2026 11:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_purchase](
	[bill_no] [varchar](250) NOT NULL,
	[product_id] [bigint] NULL,
	[opening_stock] [int] NULL,
	[quantity] [int] NULL,
	[final_stock] [int] NULL,
	[purchase_date] [date] NULL,
	[supplier_name] [varchar](250) NULL,
	[price] [decimal](10, 2) NULL,
	[taxable_amt] [decimal](10, 2) NULL,
	[tax] [decimal](10, 2) NULL,
	[total_amt] [decimal](10, 2) NULL,
	[paid_amt] [decimal](10, 2) NULL,
 CONSTRAINT [PK__tbl_purc__D7002CD3E1D4BDD5] PRIMARY KEY CLUSTERED 
(
	[bill_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_purchaseDetails]    Script Date: 18-04-2026 11:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_purchaseDetails](
	[bill_no] [varchar](250) NULL,
	[product_id] [bigint] NULL,
	[opening_stock] [int] NULL,
	[quantity] [int] NULL,
	[final_stock] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[taxable_amt] [decimal](10, 2) NULL,
	[tax] [decimal](10, 2) NULL,
	[total_amt] [decimal](10, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_purchasePayments]    Script Date: 18-04-2026 11:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_purchasePayments](
	[bill_no] [varchar](250) NOT NULL,
	[amount_paid] [decimal](10, 2) NULL,
	[date_of_payment] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_transaction]    Script Date: 18-04-2026 11:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_transaction](
	[sales_id] [bigint] IDENTITY(1,1) NOT NULL,
	[taxable_amt] [decimal](10, 2) NULL,
	[cgst] [decimal](10, 2) NULL,
	[sgst] [decimal](10, 2) NULL,
	[amount] [decimal](10, 2) NULL,
	[paid_amt] [decimal](10, 2) NULL,
	[DOP] [date] NULL,
	[billed_status] [int] NULL,
	[customer_id] [bigint] NULL,
 CONSTRAINT [PK__tbl_sale__995B8585C07AD424] PRIMARY KEY CLUSTERED 
(
	[sales_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_users]    Script Date: 18-04-2026 11:35:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_users](
	[username] [varchar](20) NULL,
	[pass] [varchar](20) NULL,
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tbl_transaction] ADD  CONSTRAINT [DF__tbl_sales__bille__2C3393D0]  DEFAULT ((0)) FOR [billed_status]
GO
