USE [sample1]
GO
/****** Object:  StoredProcedure [dbo].[addCustomer]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[addCustomer]
@NAME VARCHAR(250),
@ADDRESS VARCHAR(250)
AS
BEGIN
INSERT INTO tbl_customer(customer_name, customer_address) VALUES (@NAME, @ADDRESS);
END;

GO
/****** Object:  StoredProcedure [dbo].[addPayment]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[addPayment]
@C_id bigint,
@S_id bigint,
@n_paid_amt decimal(10,2),
@Date date

AS
BEGIN

UPDATE tbl_transaction
SET paid_amt = paid_amt + @n_paid_amt
WHERE sales_id = @S_id

DECLARE @amt DECIMAL(10,2), @pending decimal(10,2)
SELECT @amt = amount, @pending = amount - paid_amt FROM tbl_transaction
WHERE sales_id = @S_id;

INSERT INTO tbl_payments(sales_id, customer_id, amount_paid, date_of_payment)
VALUES (@S_id, @C_id, @n_paid_amt, @Date);


END;




GO
/****** Object:  StoredProcedure [dbo].[addPaymentToPurchase]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[addPaymentToPurchase]
@bill_no varchar(250),
@n_paid_amt decimal(10,2),
@Date date

AS
BEGIN

UPDATE tbl_purchase
SET paid_amt = paid_amt + @n_paid_amt
WHERE bill_no = @bill_no


INSERT INTO tbl_purchasePayments(bill_no, amount_paid, date_of_payment)
VALUES (@bill_no, @n_paid_amt, @Date);


END;

GO
/****** Object:  StoredProcedure [dbo].[addProduct]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[addProduct]
@HSN int,
@Name varchar(250),
@Brand varchar(250),
@Stock int,
@Gst decimal(10,2)

as
begin

insert into tbl_HSCIN(hscin_id, gst_rate)
select @HSN, @Gst
 where not exists(select 1 from tbl_HSCIN where hscin_id = @HSN);

insert into tbl_product(product_name, brand, hscin_no, available_stock) values (@Name,@Brand, @HSN,@Stock);

end;

GO
/****** Object:  StoredProcedure [dbo].[addPurchase]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE procedure [dbo].[addPurchase]
@bill_no varchar(250),
@purchase_date date,
@supplier varchar(250),
@taxable_amt decimal(10,2),
@tax decimal(10,2),
@total_amt decimal(10,2),
@paid decimal(10,2),
@list purchase_list READONLY

as
begin

SET XACT_ABORT ON

Insert into tbl_purchase(bill_no, purchase_date, supplier_name, taxable_amt, tax, total_amt, paid_amt)
values (@bill_no, @purchase_date, @supplier, @taxable_amt, @tax, @taxable_amt + @tax, @paid);

INSERT INTO tbl_purchaseDetails (bill_no, product_id, quantity, price, taxable_amt, tax, total_amt, opening_stock, final_stock)
SELECT @bill_no, l.product_id, l.quantity, l.price, l.taxable_amt, l.tax, l.amount, p.available_stock, l.quantity + p.available_stock
FROM @list l , tbl_product p where l.product_id = p.product_id

INSERT INTO tbl_purchasePayments(bill_no, amount_paid, date_of_payment)
VALUES (@bill_no, @paid, @purchase_date)

UPDATE P
SET P.available_stock = P.available_stock + O.quantity
FROM tbl_product AS P, @list AS O
WHERE P.product_id = O.product_id
end;





GO
/****** Object:  StoredProcedure [dbo].[generateBill]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[generateBill]
@sales_id bigint
AS
BEGIN

SELECT
  C.customer_name,
  C.customer_address,
  CONCAT(P.product_name,' (', P.brand, ')') AS PARTICULARS,
  O.quantity,
  O.price,
  O.taxable_amt,
  O.amount,
  (T.cgst + T.sgst) as GST,
  T.cgst,
  T.sgst,
  T.sales_id,
  T.amount as total
 FROM
   tbl_customer C,
   tbl_orders O,
   tbl_transaction T,
   tbl_product P   

 WHERE   
   C.customer_id = T.customer_id AND
   T.sales_id = O.sales_id AND
   O.product_id = P.product_id AND
   T.sales_id = @sales_id;


UPDATE tbl_transaction
SET billed_status = billed_status + 1
WHERE sales_id = @sales_id;

END;

GO
/****** Object:  StoredProcedure [dbo].[getAllPurchases]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getAllPurchases]

AS
BEGIN

SELECT bill_no, purchase_date, supplier_name, taxable_amt, tax, total_amt, paid_amt FROM tbl_purchase;

END;


GO
/****** Object:  StoredProcedure [dbo].[getCredentials]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getCredentials]

@username varchar(20)

as 
begin

Select username, pass from tbl_users
Where username = @username

end;
GO
/****** Object:  StoredProcedure [dbo].[getHSN]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getHSN]

AS
BEGIN

SELECT * FROM tbl_HSCIN;

END;

GO
/****** Object:  StoredProcedure [dbo].[getId]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getId]

@name varchar(250),
@address varchar(250)

AS
BEGIN

SELECT customer_id FROM tbl_customer
WHERE customer_name = @name
AND customer_address = @address;

END;


GO
/****** Object:  StoredProcedure [dbo].[getPaymentDetails]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getPaymentDetails]

@SalesId bigint

AS
BEGIN

SELECT sales_id, customer_id, amount_paid, date_of_payment
FROM tbl_payments
WHERE sales_id = @SalesId

END;


GO
/****** Object:  StoredProcedure [dbo].[getProdDetails]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getProdDetails]

@id int,
@cond int

AS

BEGIN
IF(@cond = 1)
  BEGIN
  Select p.product_name, p.brand, p.available_stock, p.available_stock as stock, p.product_id as id, p.price as price, p.hscin_no as hsn, h.gst_rate as gst from tbl_product as p, tbl_HSCIN as h
  where p.hscin_no = h.hscin_id
  and p.product_id = @id;
  END

ELSE
  BEGIN
  Select p.available_stock as stock from tbl_product as p
  where p.product_id = @id;
  END
END;


GO
/****** Object:  StoredProcedure [dbo].[getProducts]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getProducts]

AS
BEGIN

SELECT * FROM tbl_product;

END;

GO
/****** Object:  StoredProcedure [dbo].[getPurchasePaymentDetails]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPurchasePaymentDetails]

@bill_no varchar(250)

AS
BEGIN

SELECT bill_no, amount_paid, date_of_payment
FROM tbl_purchasePayments
WHERE bill_no = @bill_no

END;

GO
/****** Object:  StoredProcedure [dbo].[getToCollectAmt]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getToCollectAmt]

AS
BEGIN

select sum(amount - paid_amt) as to_receive from tbl_transaction;

END;

GO
/****** Object:  StoredProcedure [dbo].[getToPayAmt]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getToPayAmt]

AS
BEGIN

select sum(total_amt - paid_amt) as to_pay from tbl_purchase;

END;

GO
/****** Object:  StoredProcedure [dbo].[pullCust]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pullCust]
@id int
as
begin
Select customer_name, customer_address from tbl_customer
where customer_id = @id;

end;

GO
/****** Object:  StoredProcedure [dbo].[removeCustomer]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[removeCustomer]
@id int

AS
BEGIN

DELETE FROM tbl_customer
WHERE customer_id = @id

END;

GO
/****** Object:  StoredProcedure [dbo].[removeProdById]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[removeProdById]
@id int

AS
BEGIN

DECLARE @HSN INT = (SELECT count(hscin_no) FROM tbl_product)

DELETE FROM tbl_product
WHERE product_id = @id

IF ((SELECT COUNT(hscin_no) from tbl_product where hscin_no = @HSN) = 0)
	BEGIN
	DELETE FROM tbl_HSCIN
	WHERE hscin_id = @HSN
	END
END;


GO
/****** Object:  StoredProcedure [dbo].[saveSale]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[saveSale]    Script Date: 14-03-2026 10:24:18 *****/
CREATE PROCEDURE [dbo].[saveSale]
@taxable_amt decimal(10,2),
@cgst decimal(10,2),
@sgst decimal(10,2),
@amount decimal(10,2),
@customer_id bigint,
@customer_name varchar(250),
@customer_add varchar(250),
@paid decimal(10,2),
@date date,
@list sales_entries READONLY,
@id_RETURN INT OUTPUT

AS
BEGIN

SET XACT_ABORT ON

INSERT INTO tbl_transaction(taxable_amt, cgst, sgst, amount, customer_id, paid_amt, DOP)
VALUES(@taxable_amt, @cgst, @sgst, @amount, @customer_id, @paid, @date)

DECLARE @id INT = SCOPE_IDENTITY() 
SET @id_RETURN = @id
INSERT INTO tbl_orders(sales_id, product_id, hscin_id, gst_slab, quantity,price, taxable_amt, cgst, sgst, amount)
SELECT @id, product_id, hscin_id, gst_slab , quantity, price, taxable_amt, cgst, sgst, amount from @list

UPDATE P
SET P.available_stock = P.available_stock - O.quantity
FROM tbl_product AS P, @list AS O
WHERE P.product_id = O.product_id


INSERT INTO tbl_payments(sales_id, customer_id, amount_paid, date_of_payment)
VALUES (@id, @customer_id, @paid, @date)

IF (@customer_id = 0)
  BEGIN
    INSERT INTO tbl_nonSavedCustomer (sales_id, customer_name, customer_address)
	VALUES (@id, @customer_name, @customer_add)
  END

RETURN @id_return

END;



GO
/****** Object:  StoredProcedure [dbo].[selectById]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[selectById]
@user_id_list dbo.UserList READONLY
AS
BEGIN
SELECT s.sales_id, s.hscin_id, p.product_name, p.brand, s.quantity, s.taxable_amt, s.cgst as cgst, s.igst as sgst, s.amount as amount, s.cutomer_name as customer_name, s.customer_add as address, s.paid_amt as paid, s.DOP AS date, s.billed_status as bill
from tbl_sales as s , tbl_product as p
where
p.product_id = s.product_id
AND s.sales_id in (SELECT UserID from @user_id_list)

UPDATE tbl_sales
SET billed_status = billed_status + 1
WHERE sales_id IN (SELECT UserID from @user_id_list);

END;

GO
/****** Object:  StoredProcedure [dbo].[showAllSales]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[showAllSales]

AS

BEGIN

SELECT t.sales_id, c.customer_id, c.customer_name, c.customer_address, t.amount, t.paid_amt, t.DOP, t.billed_status from tbl_transaction AS t, tbl_customer AS c
WHERE t.customer_id = C.customer_id

UNION

SELECT t.sales_id, 0 customer_id, n.customer_name, n.customer_address, t.amount, t.paid_amt, t.DOP, t.billed_status from tbl_transaction AS t, tbl_nonSavedCustomer AS n
WHERE t.sales_id = n.sales_id

END;




GO
/****** Object:  StoredProcedure [dbo].[showBrand]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[showBrand]

@name varchar(250)

AS

BEGIN

SELECT p.brand, p.product_id, h.gst_rate FROM tbl_product p, tbl_HSCIN h
WHERE P.hscin_no = H.hscin_id
AND product_name = @name;

END;


GO
/****** Object:  StoredProcedure [dbo].[showDetails]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[showDetails]

@SalesId int

AS
BEGIN

SELECT * FROM tbl_orders
WHERE sales_id = @SalesId;

END;

GO
/****** Object:  StoredProcedure [dbo].[showgetDetails]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[showgetDetails]

@name varchar(250),
@brand varchar(250)

AS

BEGIN

Select p.available_stock as stock, p.product_id as id, p.price as price, p.hscin_no as hsn, h.gst_rate as gst from tbl_product as p, tbl_HSCIN as h
where p.hscin_no = h.hscin_id and p.product_name = @name and p.brand = @brand;
END;

GO
/****** Object:  StoredProcedure [dbo].[showParties]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[showParties]

AS
BEGIN

SELECT customer_id, customer_name, customer_address FROM tbl_customer;

END;

GO
/****** Object:  StoredProcedure [dbo].[showProducts]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[showProducts]

AS

BEGIN

SELECT product_name FROM tbl_product;

END;

GO
/****** Object:  StoredProcedure [dbo].[showPurchaseDetails]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[showPurchaseDetails]
@bill_no varchar(250)
as
begin
select * from tbl_purchaseDetails where bill_no = @bill_no
end;

GO
/****** Object:  StoredProcedure [dbo].[updateCustomer]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[updateCustomer]
@id int,
@name varchar(250),
@address varchar(250)

as 
begin

update tbl_customer
set customer_name = @name, customer_address = @address
where customer_id = @id

end;

GO
/****** Object:  StoredProcedure [dbo].[updateGstSlab]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[updateGstSlab]


@HSN BIGINT,
@GstSlab int

AS
BEGIN

UPDATE tbl_HSCIN
SET gst_rate = @GstSlab
WHERE hscin_id = @HSN

END;

GO
/****** Object:  StoredProcedure [dbo].[updateStock]    Script Date: 18-04-2026 11:36:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[updateStock]
@id bigint,
@quantity int
AS
BEGIN

UPDATE tbl_product
SET available_stock = @quantity + available_stock
WHERE product_id = @id
END;


GO
