USE [sample1]
GO
/****** Object:  UserDefinedTableType [dbo].[purchase_list]    Script Date: 18-04-2026 11:36:29 ******/
CREATE TYPE [dbo].[purchase_list] AS TABLE(
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[taxable_amt] [decimal](10, 2) NULL,
	[tax] [decimal](10, 2) NULL,
	[amount] [decimal](10, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[sales_entries]    Script Date: 18-04-2026 11:36:29 ******/
CREATE TYPE [dbo].[sales_entries] AS TABLE(
	[product_id] [int] NULL,
	[hscin_id] [int] NULL,
	[gst_slab] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[taxable_amt] [decimal](10, 2) NULL,
	[cgst] [decimal](10, 2) NULL,
	[sgst] [decimal](10, 2) NULL,
	[amount] [decimal](10, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[UserList]    Script Date: 18-04-2026 11:36:29 ******/
CREATE TYPE [dbo].[UserList] AS TABLE(
	[UserID] [int] NULL
)
GO
